html,
body {
  /* prevent horizontal scroll */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* ensure padding, borders included in width, height calculation */
  box-sizing: border-box;
  background-color: whitesmoke;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  position: fixed;
}

.logo a {
  text-decoration: none;
  color: white;
}
.logo h1 {
  font-size: 24px;
  margin-bottom: 0;
  margin-left: 20px;
}
.logo p {
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  margin-left: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  gap: 30px;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.overlay-image {
  height: 100%;
  overflow: hidden;
}
.overlay-image img {
  width: 100%;
  /* Background image cover all screen height */
  height: 100vh;
  /* ensure image cover entair container without being distorted  */
  object-fit: cover;
}

.dropbtn {
  text-decoration: none;
  border: none;
  background-color: inherit;
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
  color: white;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: grey;
}

.dropdown-content {
  background-color: black;
  display: none;
  width: 100px;
  position: absolute;
}

.dropdown-content a {
  /* start with new line */
  display: block;
  color: white;
}
.dropdown:hover .dropdown-content {
  /* without this, display: none for content */
  display: block;
  padding: 12px;
  text-align: left;
}
