html,
body {
  letter-spacing: 1.15px;
  /* prevent horizontal scroll */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* ensure padding, borders included in width, height calculation */
  box-sizing: border-box;
  background-color: whitesmoke;
}
html * {
  box-sizing: border-box;
}
:root {
  --paragraph-sans: "Open Sans", sans-serif;
  --heading-sans: "Hind", sans-serif;
  --overlaid-text-color: rgb(234, 234, 233);
}
body {
  line-height: 1.6;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  position: fixed;
  height: 60px;
  z-index: 1000;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 30px;
  text-align: center;
}
.logo,
.navbar,
.dropbtn,
.search-box::placeholder {
  font-family: var(--heading-sans);
  font-weight: 600;
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo-h1 {
  font-size: 16px;
  margin-bottom: 0;
}
.logo-p {
  margin-top: 0;
  font-size: 10px;
  color: rgb(233, 231, 231);
}
.navbar {
  display: flex;
  padding-right: 40px;
  height: 100%;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.mystory-header,
.blogs-header,
.dropdown,
.search-container {
  display: flex;
  border-left: 2px solid white;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.dropbtn {
  text-decoration: none;
  border: none;
  background-color: inherit;
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
  color: white;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: grey;
}
.dropdown {
  /* father of dropdown-content (positioned accord to father) */
  position: relative;
}
.dropdown-content {
  background-color: black;
  /* hide dropdown content by default */
  display: none;
  width: 100%;
  /* make content appear below dropdown button */
  position: absolute;
  top: 100%;
  left: 0;
  /* make sure padding and border are included in total width */
}
.dropdown-content a {
  /* start with new line */
  display: block;
  color: white;
  padding: 10px;
}
.dropdown:hover .dropdown-content {
  /* without this, display: none for content */
  display: block;
  padding: 12px;
  text-align: left;
}
.search-container {
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}
.search-box {
  background-color: black;
  color: white;
  height: 100%;
  font-family: var(--heading-sans);

  border: none;
}
.search-box-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgb(196, 195, 195); /* Smaller white border around the search box */
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  height: 30px; /* Adjust the height to be smaller than the header */
}
.search-btn {
  background-color: black; /* Match with navbar */
  border: none;
  color: rgb(201, 196, 196);
  cursor: pointer;
}
.search-box::placeholder {
  color: rgb(201, 196, 196);
}
.search-box:focus {
  /* remove default OUTLINE when input field is actively selected by user (focus) */

  outline: none;
}
.search-btn:hover {
  cursor: pointer;
}
