html,
body {
  /* prevent horizontal scroll */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* ensure padding, borders included in width, height calculation */
  box-sizing: border-box;
  background-color: whitesmoke;
}

body {
  line-height: 1.6;
  font: Arial;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  position: fixed;
  height: 60px;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.logo,
.navbar,
.dropbtn,
.search-box::placeholder {
  font-family: "Hind", sans-serif;
  font-weight: 600;
}

.logo a {
  text-decoration: none;
  color: white;
}
.logo-h1 {
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 20px;
  justify-items: center;
}
.logo-p {
  margin-top: 0;
  font-size: 10px;
  color: rgb(233, 231, 231);
  text-align: center;
  margin-left: 16px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding-right: 40px;
  height: 100%;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.mystory-header,
.blogs-header,
.dropdown {
  display: flex;
  border-left: 2px solid white;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.dropdown {
  border-right: 2px solid white;
}
.search-container {
  margin-left: 20px;
}
.overlay-image {
  height: 100%;
  overflow: hidden;
}
.overlay-image img {
  width: 100%;
  /* Background image cover all screen height */
  height: 100vh;
  /* ensure image cover entair container without being distorted  */
  object-fit: cover;
}

.dropbtn {
  text-decoration: none;
  border: none;
  background-color: inherit;
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
  color: white;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: grey;
}

.dropdown-content {
  background-color: black;
  display: none;
  width: 100px;
  position: absolute;
}

.dropdown-content a {
  /* start with new line */
  display: block;
  color: white;
  padding: 10px;
}
.dropdown:hover .dropdown-content {
  /* without this, display: none for content */
  display: block;
  padding: 12px;
  text-align: left;
}
.search-container {
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
}
.search-box {
  background-color: black;
  color: white;
  height: 100%;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  border: none;
}
.search-box-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(196, 195, 195); /* Smaller white border around the search box */
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  height: 30px; /* Adjust the height to be smaller than the header */
}
.search-btn {
  background-color: black; /* Match with navbar */
  border: none;
  color: rgb(201, 196, 196);
  cursor: pointer;
}
.search-box::placeholder {
  color: rgb(201, 196, 196);
}
.search-box:focus {
  /* remove default OUTLINE when input field is actively selected by user (focus) */
  /* border: none; didnot work */
  outline: none;
}
.search-btn:hover {
  cursor: pointer;
}
.left-corner,
.readmore-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; /* Open Sans 400 for regular paragraphs */
}
.left-corner h1 {
  font-family: "Hind", sans-serif;
  font-weight: 600;
}
