.overlay-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.overlay-content {
  max-width: 1500px;
  margin: 0 auto;
  /* ref point for overlay-text absolutely positioned child */
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 60px 48px 48px 48px;
  height: 100%;
  justify-content: flex-end;
}
.overlay-text {
  color: white;
  opacity: 0.75;
  font-family: var(--paragraph-sans);
  margin-bottom: 64px;
}

.overlay-text p {
  font-size: 140px;
  margin-bottom: 50px;
  margin-top: 0px;
}

.lets-go-button {
  cursor: pointer;
  border: 1px solid var(--overlaid-text-color);
  background-color: transparent;
  color: white;
  opacity: 0.75;
  font-family: var(--heading-sans);
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-flex;
  font-weight: lighter;
  padding: 10px 20px;
  align-items: center;
  text-decoration: none;
}
.lets-go-button:hover .arrow-icon {
  /* element moves horizontally 5px along X-axis */
  transform: translateX(5px);
  /* transition happens over 0.3s */
  transition: transform 0.3s;
}

.arrow-icon {
  width: 10px;
  fill: var(--overlaid-text-color);
  margin-left: 5px;
}
.background-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.background-image img {
  width: 100%;
  /* Background image cover all screen height */
  height: 100%;
  /* ensure image cover entair container without being distorted  */
  object-fit: cover;
  /* prevent unwanted inline bahavior of image */
  display: block;
}

.myStory-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 48px 48px;
  gap: 70px;
  margin: 0 auto; /* Center the section in the middle of the page */
}

.left-corner {
  flex: 1;
}
.right-corner {
  flex: 2;
}

.left-corner,
.readmore-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.left-corner h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.myStory-wrapper {
  max-width: 1500px;
  background-color: white;
  margin: 0 auto;
}
.secondrow-images {
  display: flex;

  justify-content: space-between;
  gap: 10px;
}

.under-image {
  width: calc(33.333% - 10px);
}
.top-image {
  width: 100%;
}
.left-corner,
.readmore-button {
  font-family: var(--paragraph-sans);
  font-weight: 400; /* Open Sans 400 for regular paragraphs */
}
.left-corner h1 {
  font-family: var(--heading-sans);
  font-weight: 600;
}
