.overlay-container {
  height: 100vh;
  width: 100%;
  background-image: url("/images/img2.jpg");
  background-size: cover;
  background-position: center;
}
.overlay-content {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 60px 48px 48px 48px;
  height: 100%;
  justify-content: flex-end;
}
.overlay-text {
  margin-bottom: 64px;
  color: white;
  opacity: 0.75;
  font-family: var(--paragraph-sans);
}

.overlay-text p {
  font-size: 140px;
  margin-bottom: 50px;
  margin-top: 0px;
}

.lets-go-button {
  cursor: pointer;
  border: 1px solid var(--overlaid-text-color);
  background-color: transparent;
  color: white;
  opacity: 0.75;
  font-family: var(--heading-sans);
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-flex;
  font-weight: lighter;
  padding: 10px 20px;
  align-items: center;
  text-decoration: none;
}
.lets-go-button:hover .arrow-icon {
  /* element moves horizontally 5px along X-axis */
  transform: translateX(5px);
  /* transition happens over 0.3s */
  transition: transform 0.3s;
}

.button-arrow-icon {
  width: 15px;
  fill: var(--overlaid-text-color);
  margin-left: 5px;
}



.myStory-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 48px;
  gap: 70px;
}

.left-corner {
  flex: 1;
}
.right-corner {
  flex: 2;
}

.left-corner,
.readmore-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.left-corner h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.myStory-wrapper {
  background-color: white;
  padding: 40px;
}
.secondrow-images {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.under-image {
  width: calc(33.333% - 10px);
}
.top-image {
  width: 100%;
}
.left-corner,
.readmore-button {
  font-family: var(--paragraph-sans);
}
.left-corner h1 {
  font-family: var(--paragraph-sans);
}
.left-corner p {
  margin-left: 0;
}
.blogs-section-container {
  padding: 30px 88px;
  font-family: var(--paragraph-sans);
}
.blogs-header-container {
  display: flex;
  flex-direction: column;
}
.blogs-header-container h1,
.blogs-header-container p {
  margin: 10px;
  text-align: center;
}

.blogs-carousel {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.left-button,
.right-button {
  width: 15px;
  height: 15px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.arrow-icon {
  width: 100%;
}

.blog-post {
  width: 20%;
}
.banner-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 2;
}

.blog-post-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  overflow: hidden;
}

.blog-post-container a {
  text-decoration: none;
}

.blog-post-container a:visited {
  color: black;
}

.blog-post-header {
  font-weight: 700;
}
.blog-post-caption {
  opacity: 0.5;
  font-size: 14px;
}
.view-all-button {
  font-family: var(--paragraph-sans);
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  padding: 10px 40px;
  text-transform: uppercase;
}
.view-all-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
